* {
  padding: 0;
  margin: 0;
}



body {
  background: linear-gradient(to right, black, rgb(6, 6, 182), black,rgb(6, 6, 182), black);;
}

.header {
  background-color: blueviolet;
  width: 100vw;
  height: 20vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  

}
.header img {
  height: 15vh;  
  padding: 2.5vh;
  border-radius: 1vh;
}
h1 {
  padding-top: 50px;
  font-size: 40px;
  color: rgb(252, 251, 250);
}




.episode {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 10vh auto;
  width: 50vw;
  background-color: rgb(50, 50, 50);
  border-radius: 15px;
  z-index: 2;
}

.episode_left {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  float: left;
  margin: 10px;
}

.episode_left img {
  width: 300px;
  border-radius: 15px;
}

.episode_left audio {
  height: 50px;
  margin: 10px 10px 10px 0px;
  width: 300px;
  border-radius: 5px;
  font-weight: 700;
  font-size: 15px;
}

.episode_right {
  flex: 50%;
  padding: 10px;
  text-shadow: 0 0 15px black;
}

.episode_right h2 {
  text-align: center;
  font-size: 35px;
  color: white;
}

.episode_right p {
  font-size: 25px;
  margin-top: 10px;
  color: white;
}


